<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Meta data. -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="Spend Elon Musk's money">
    <meta name="author" content="EOussama">
    <meta name="description" content="A website were you can virtually spend Elon Musk's money.">
    <meta name="keywords" content="Money, Elon Musk, shopping, rich">

    <!-- Materialize. -->
    <link rel="stylesheet" type="text/css" href="../bower_components/materialize/dist/css/materialize.min.css">

    <!-- Materialize icons. -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- The main stylesheet. -->
    <link rel="stylesheet" type="text/css" href="assets/sass/main.scss">

    <!-- The favicon. -->
    <link rel="shortcut icon" type="image/png" href="assets/img/elon_musk.jpg">

    <!-- The title. -->
    <title>Spend Elon Musk's money</title>
</head>

<body>
    <main class="container" ng-app="elon" ng-controller="elon">

        <header>
            <div class="row">
                <div class="col s12">
                    <div class="card-panel grey lighten-3 center-align">
                        <h3>Spend Elon Musk's Money</h3>
                        <a href="https://en.wikipedia.org/wiki/Elon_Musk" target="_blank">
                            <img src="assets/img/elon_musk.jpg" alt="Elon Musk">
                        </a>
                        <div class="row">
                            <div class="col s12">
                                <span class="balance grey lighten-3 z-depth-2">{{ money | currency }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="row">
                <goodie ng-repeat="goodie in goodies" goodie="goodie"></goodie>
            </div>
        </section>

        <section class="properties">
            <div class="card-panel grey lighten-3">
                <div class="row">
                    <div class="col s12">
                        <h3 class="center-align">Properties [{{ totalProperties() }}]</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="stripped">
                            <thead>
                                <tr>
                                    <th class="center-align">Property</th>
                                    <th class="center-align">Quantity</th>
                                    <th class="center-align">Accumulated Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="property in properties">
                                    <td class="center-align">{{ property.goodie.name }}</td>
                                    <td class="center-align">{{ property.quantity }}</td>
                                    <td class="center-align">{{ property.quantity * property.goodie.price | currency }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Materialize. -->
    <script type="text/javascript" src="../bower_components/materialize/dist/js/materialize.min.js"></script>

    <!-- The main script. -->
    <script type="text/javascript" src="assets/ts/main.ts"></script>
</body>

</html>