header {
    $color-dark: rgb(54, 55, 77);
    color: $color-dark;

    margin-top: 50px;

    .row {
       margin: 80px 0;

       .balance {
            border: 6px solid $color-dark;
            border-radius: 3%;
            font-size: 35px;
            font-weight: bold;
            padding: 10px 15px;
            width: 300px;
       }
    }

    a {
        color: $color-dark;

        img {
            border: 6px solid;
            border-radius: 50%;
            cursor: pointer;
            margin-top: 50px;
            opacity: .8;
            transition-duration: .3s;
            transition-property: opacity;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.card {
    height: 350px;

    img {
        height: 250px;
    }
}
