header {
    margin-top: 50px;

    .row {
       margin: 80px 0;

       .balance {
            font-size: 35px;
            border: 6px solid;
            border-radius: 3%;
            width: 300px;
            padding: 10px 15px;
            font-weight: bold;
       }
    }

    img {
        margin-top: 50px;
        border-radius: 50%;
        cursor: pointer;
        border: 6px solid;
    }
}
